* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header{
    position: fixed;
    top: 0%;
    font-size: 2rem;
}

#container{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  70px 250px;
    gap: 25px;

    background-color: rgb(192, 192, 192);
}

#screen {
    height: 100%;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;

    background-color: whitesmoke;
}

#container2 {
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 5px;
    
}

#Numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-right: 5px;
}

#signs {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 5px;
}

button {
    border: 1px solid black;
    border-radius: 7px;
    font-size: 1rem;
    color: whitesmoke;
    background-color: rgb(24, 25, 85);
}

.footer {
    position: fixed;
    bottom: 0%;
    font-size: 0.6rem;
}